.idea
.ipynb_checkpoints/
__pycache__/
BEST_checkpoint.tar
checkpoint.tar
nohup.out
runs/
train_names.txt
valid_names.txt
data/
alphamatting/
BEST_checkpoint_older.tar
reruns/
checkpoints/
runs**/
checkpoints**/
data/
images/
logs/
test_images/
Combined_Dataset/
